.list {
  $self: &;
  margin-bottom: 15px;
  
  &__plus-button {
    opacity: 0.6;

    &:hover {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
  }

  li {
    display: flex;
    align-items: center;
    padding: 10px 11px;
    cursor: pointer;
    border-radius: 2px;

    &:hover #{$self}__remove-btn {
      opacity: 0.2;
      transition: opacity 0.2s ease-in-out;
    }

    #{$self}__remove-btn {
      opacity: 0;
  
      &:hover {
        opacity: 0.8;
      }
    }

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden; 
      width: 160px; 
      white-space: nowrap;
    }
    
    .badge {
      position: relative;
      left: 4px;
    }

    &:hover {
      background: rgba(255, 255, 255, 0.4);
    }

    &.active {
      background: #FFFFFF;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
      cursor: pointer;
    }

    i {
      display: inline-flex;
      margin-right: 8px;
      opacity: 0.6;
    }
  }
}